* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  background: linear-gradient(to top, #dbdbd2 86%, #009688 86%);
  padding: 20px 0;
}

.debug {
  background-color: pink;
}

/* button */
.btn {
  border: none;
  padding: 10px
}
/* /button */


/* mix */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.search-style {
  border: 1px solid #F5F5F5;
  background-color: #fff;
}

/* styling lists */
.no-style {
  list-style: none;
}
/* /mix */

/* button */
.search-cta {
  width: 10%;
  height: 35px;
  color: #ccc;
  border-right: none;
}
/* /button */


/* main style */
.main-container {
  max-width: 1480px;
  height: calc(100vh - 40px);
  margin:auto;
  display: flex;
}

.left-column {
  width: 30%;
  background-color: #fff;
}

.right-column {
  width: 70%;
  background-image: url('../img/mine.jpg');
}
/* /main style */

/* left column */
/* left column header */
.column__header {
  background-color: #EAEAEA;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.user-infos {
  display: flex;
  align-items: center;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.user-image img {
  width: 100%;
}

.navigation-list {
  display: flex;
}

.navigation-list .nav-icon {
  color: #b1b1b1;
  margin: 0 10px;
  font-size: 20px;
}
/* /left column header */

/* notifications */
.notifications {
  background-color: #8EDAFC;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.notifications__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-size: 20px;
  color: #8EDAFC;
  margin-right: 10px;
}

.notifications__info a {
  color: #888888;
  font-size: 13px;
}
/* /notifications */

/* search */
.search-bar {
  background-color: #fafafa;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px 8px;
}

.search  {
  width: 90%;
  background-color: #fafafa;
  display: flex;
  align-items: center;
}

#search {
  width: 100%;
  height: 35px;
  padding: 0 10px;
}
/* /search */

/* contacts */
.contacts {
  height: calc(100% - 200px);
  overflow-y: auto;
}

.contacts-list .contact {
  padding: 10px 20px;
  border-bottom: 1px solid #F0F0F0;
}

.contact-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}

.contact-image img {
  width: 100%;
}

.contact-name {
  float: left;
  margin-left: 20px;
}

.active-contact {
  background-color: #e9ebeb;
}
/* /contacts */
/* /left column */

/* right column */
/* right column header */
.right-column .column__header {
  border-left: 1px solid #D0D0D0;
}

.contact-chat {
  display: flex;
  align-items: center;
}

.contact-chat .contact-image {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.contact-infos .chat-last-online {
  font-size: 13px;
  color: #A8A8A8;
  margin-top: 5px;
}
/* /right column header */

/* right column main */
.main-chat {
  height: calc(100% - 140px);
  overflow-y: auto;
  padding: 40px 80px;
}

.message-style {
  padding: 10px 20px;
  border-radius: 10px;
}

.message-row {
  display: flex;
}

.user-message-row {
  display: flex;
  justify-content: flex-end;
}

.contact-message-row {
  display: flex;
  justify-content: flex-start;
}

.user-message {
  background-color: #daf0c2;
}

.contact-message {
  background-color: #fff;
}

.user-message,
.contact-message {
  min-width: 300px;
}

.sent-infos {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.sent-infos p {
  font-size: 10px;
  color: #A8A8A8;
}
/* /right column main */

/* right column footer */
.column__footer {
  background-color: #f3eeea;
  height: 70px;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid #D0D0D0;
}

.edit-message-cdn {
  font-size: 25px;
  color: #A0A0A0;
  width: 5%;
  margin: 0 20px;
}

.type-message {
  width: calc(90% - 80px);
}

.input-message {
  border: none;
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
}
/* /right column footer */
/* /right column */
