<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- vue cdn developers -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- /vue cdn developers -->

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <!-- /google font -->

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- /fontawesome -->

    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
  </head>
  <body>

    <main>
      <!-- main container of the app -->
      <div class="main-container" id="main-container">

        <!-- main left column -->
        <div class="left-column">
          <!-- header of the left column -->
          <div class="column__header">
            <!-- whatsapp user's infos -->
            <div class="user-infos">
              <div class="user-image">
                <img src="img/avatar_io.jpg" alt="user's avatar image">
              </div>
              <div class="user-name">
                <p>Lorena Spiller</p>
              </div>
            </div>
            <!-- /whatsapp user's infos -->

            <!-- whatsapp user's navigation icons -->
            <div class="user-navigation">
              <ul class="no-style navigation-list">
                <li class="nav-icon"><i class="fas fa-circle-notch"></i></li>
                <li class="nav-icon"><i class="fas fa-comment-alt"></i></li>
                <li class="nav-icon"><i class="fas fa-ellipsis-v"></i></li>
              </ul>
            </div>
            <!-- /whatsapp user's navigation icons -->
          </div>
          <!-- /header of the left column -->

          <!-- notifications section -->
          <div class="notifications">
            <div class="notifications__image">
              <i class="fas fa-bell-slash"></i>
            </div>
            <div class="notifications__info">
              <p>Ricevi notifiche di nuovi messaggi</p>
              <a href="#">Attiva notifiche di desktop</a>
            </div>
          </div>
          <!-- /notifications section -->

          <!-- search or start a new chat -->
          <div class="search-bar">
            <button type="button" name="button" class="search-style search-cta"><i class="fas fa-search"></i></button>
            <label for="search" class="search">
              <input id="search" class="search-style" type="text" placeholder="Cerca o inizia una nuova chat">
            </label>
          </div>
          <!-- /search or start a new chat -->

          <!-- contacts -->
          <div class="contacts">
            <!-- contacts list -->
            <ul class="contacts-list no-style">
              <!-- contact -->
              <li  v-for="(contact, index) in contacts" class="clearfix contact" :class="contactIndex == index ? 'active-contact' : '' "   @click="contactIndex = index">

                <div class="contact-image">
                  <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="">
                </div>

                <p class="contact-name">{{contact.name}}</p>
              </li>
              <!-- /contact -->
            </ul>
            <!-- /contacts list -->
          </div>
          <!-- /contacts -->



        </div>
        <!-- /main left column -->

        <!-- main right column -->
        <div class="right-column">
          <!-- header of the right column -->
          <div class="column__header">
            <!-- infos about the contact that is chatting with you -->
            <div class="contact-chat">
              <!-- contact's image -->
              <div class="contact-image">
                <img :src="'img/avatar' + contacts[contactIndex].avatar + '.jpg'" alt="">
              </div>
              <!-- /contact's image -->

              <!-- contact's infos -->
              <div class="contact-infos">
                <p class="chat-contact-name">{{contacts[contactIndex].name}}</p>
                <p class="chat-last-online">Ultimo accesso oggi alle 14:30</p>
              </div>
              <!-- /contact's infos -->
            </div>
            <!-- /infos about the contact that is chatting with you -->

            <!-- current chat navigation icons -->
            <div class="contact-navigation">
              <ul class="no-style navigation-list">
                <li class="nav-icon"><i class="fas fa-search"></i></li>
                <li class="nav-icon"><i class="fas fa-paperclip"></i></li>
                <li class="nav-icon"><i class="fas fa-ellipsis-v"></i></li>
              </ul>
            </div>
            <!-- /current chat navigation icons -->
          </div>
          <!-- /header of the right column -->

          <!-- main chat of the right column -->
          <div class="main-chat">
            <ul class="no-style clearfix">
              <li class="message-style" v-for="message in contacts[contactIndex].messages" :class="(message.status == 'sent') ? 'user-message' : 'contact-message'">
              <p>{{message.message}}</p>
              <p class="date">{{message.date}}</p>
              </li>

            </ul>
          </div>
          <!-- /main chat of the right column -->

          <!-- footer of the right column -->
          <div class="column__footer">
            <div class="emoji">
              <button class="btn edit-message-cdn"><i class="far fa-smile"></i></button>
            </div>
            <div class="type-message">
              <input type="text" placeholder="Scrivi un messaggio" class="input-message" v-model="newMessage" @keydown.13="addMessage">
            </div>
            <div class="audio-button">
              <button class="btn edit-message-cdn"><i class="fas fa-microphone"></i></button>
            </div>
          </div>
          <!-- /footer of the right column -->

        </div>
        <!-- /main right column -->
      </div>
      <!-- /main container of the app -->

    </main>



    <!-- CDN example (unpkg) -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script>dayjs().format('DD/MM/YYYY HH:mm:ss')</script>
    <!-- javascript link -->
    <script src="js/script.js" charset="utf-8"></script>
    <!-- /javascript link -->

  </body>
</html>
